<h2>Index Page</h2>
<table>
  <tr>
  <th>タイトル</th>
  <th>内容</th>
  </tr>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.title %></td>
      <td><%= task.content %></td>
      <td><%= link_to '詳細', task_path(task) %></td>
      <td><%= link_to '編集', edit_task_path(task) %></td>
      <td><%= link_to '削除', task_path(task), method: :delete, data: { confirm: 'タスクを削除しますか?' } %></td>
    </tr>
  <% end %>
</table>

<div><%= link_to 'タスク作成', new_task_path %></div>