<h2>New Task Page</h2>
<%= form_with model:@task, local: true do |f| %>
  <div>
    <%= f.label :タイトル %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :内容 %>
    <%= f.text_field :content %>
  </div>
  <div>
    <%= f.submit '作成' %>
  </div>
<% end %>