<h2 class="text-center my-2">新規ユーザー作成(Admin)</h2>
<div class="row">
  <%= form_with model: [:admin, @user], local: true do |f| %>
<!--エラー表示-->
      <div class="form-wrapper ml-3 mt-3">
      <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
      <% end %>
<!--フォーム本体-->
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, id: "user_name", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, id: "user_email", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :admin%>
        <%= f.check_box :admin, id: "user_admin", class: "form-cehck-input ml-1"%>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, id: "user_pass", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, id: "user_pass_confirm", class: "form-control" %>
      </div>
      <%= f.submit "ユーザー登録", class: "btn btn-primary"%>
    </div>
  <% end %>
</div>