<!DOCTYPE html>
<html>
  <head>
    <title>TaskEveryleaf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
<!--container-->
    <div class="container-fluid">
<!--header-->
<div class="row">
  <nav class="navbar navbar-expand-lg navbar-light col-12">
    <span class="navbar-brand text-light">E-Task!</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if logged_in? %>
        <!--ログイン時表示-->
          <li class="nav-item">
            <%= link_to "index", tasks_path, class: "nav-link text-light" %>
          </li>
          <li class="nav-item">
            <%= link_to "MyPage", user_path(current_user), class: "nav-link text-light" %>
          </li>
          <li class="nav-item">
            <%= link_to "SignOut", session_path(current_user.id), method: :delete, class: "nav-link text-light" %>
          </li>
        <% else %>
        <!--非ログイン時表示-->
          <li class="nav-item">
            <%= link_to "SignUp", new_user_path, class: "nav-link text-light"%>
          </li>
          <li class="nav-item">
            <%= link_to "SignIn", new_session_path, class: "nav-link text-light" %>
          </li>
        <% end %>
      </ul>
      <form class="form-inline my-2 my-lg-0">
  <!--検索フォームパーシャル読み込み-->
      <%= render "search" %>
      </form>
    </div>
  </nav>
</div>
<!--flash message-->
  <div class="row">
    <% flash.each do |key, value| %>
      <div class="alert col-6 offset-3 float my-1 text-center vani_fla <%= bootstrap_class_for(key) %>">
        <%= value %>
      </div>
    <% end %>
  </div>
  <%= yield %>
<!--footer-->
  <div class="row">
    <footer class="footer col-12 footer_wrapper fixed-bottom">
      <p class="text-light text-center footer_word">thanks for comfirmation!</p>
    </footer>
  </div>
</div>
</body>
</html>
